body {
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

/*头部广告条start*/
.ad {
    width: 100%;
    height: 120px;
}
.ad>a {
    background-image: url('../pics/topad.jpg');
    background-repeat: no-repeat;
    background-size: auto 120px;
    background-position: 50%;
    display: inline-block;
    width: 100%;
    height: 120px;
}
/*头部广告条end*/

/*header start*/
.header {
    width: 100%;
    height: 40px;
    background-color: #333;
}
.container {
    width: 1226px;
    margin: 0 auto;
    height: 100%;
}

.link_list {
    float:  left;


}

.link_list>a {
    line-height: 40px;
}
.header a {
    color: #b0b0b0;
    font-size: 12px;
    display: inline-block;
}

.header span {
    color: #424242;
}

.login {
    float: right;
    line-height: 40px;
}

.login>.shop {
    display: inline-block;
    width: 120px;
    text-align: center;
    color: #b0b0b0;
    background-color: #424242;
    margin-left: 15px;
    height: 40px;
}

.login>.shop>a {
    display: inline-block;
    line-height: 40px;
    width: 120px;
}
/*header end*/

/*navbar start*/
.navbar {
    width: 100%;
    height: 100px;
}

.mi_logo {
    float: left;
    margin-top: 22px;
}

.mi_logo>a {
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    display: block;
    position: relative;
    overflow: hidden;
}

.mi_logo>a::before {
    display: block;
    width: 55px;
    height: 55px;
    background: url('../pics/mi-logo.png') no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 0px;
    content: "";
    opacity: 1;
    transition: ease .3s;
}

.mi_logo>a:hover::before {
    left: 110px;
    opacity: 0;
}

.mi_logo>a::after {
    display: block;
    width: 55px;
    height: 55px;
    background: url('../pics/mi-home.png') no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: -55px;
    content: "";
    opacity: 0;
    transition: ease .3s;
}

.mi_logo>a:hover::after {
    opacity: 1;
    left: 0px;
}

.nav_list {
    width: 800px;
    height: 100px;
    float: left;
    margin-left: 30px;
}

.nav_list>ul {
    width: 800px;
    height: 88px;
    padding-top: 12px;
    float: left;
}
.nav_list>ul>li {
    float: left;
    width: 88px;
    text-align: center;
    line-height: 88px;
    font-size: 16px;
}

.search {
    float: right;
    height: 100px;
    position: relative;
    width: 300px;
}

.search>form {
    position: absolute;
    top: 50%;
    left: 0;
    width: 283px;
    transform: translateY(-24px);
}
.search_input {
    border: 1px solid #e0e0e0;
    height: 48px;
    width: 223px;
    float: left;
    outline: none;
}

.search_input:hover {
    border: 1px solid #000;
}

.search_input:focus {
    border: 1px solid #ff6700;
}

.search_submit {
    width: 52px;
    height: 52px;
    outline: none;
    background-color: white;
    border: 1px solid #e0e0e0;
}

.search_input:focus + .search_submit {
    border: 1px solid #ff6700;
}

.search_infor {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
/*navbar end*/

/*scroll_pic start*/
.scroll_pic {
    width: 1226px;
    height: 460px;
    position: relative;
}

.scroll_pic>a {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: ease all .3s;
}

.scroll_pic>a>img {
    width: 1226px;
    height: 460px;
}

.active {
    opacity: 1 !important;
    z-index: 1998;
}

.scroll_pic>ul {
    list-style-type: none;
    z-index: 2020;
    width: 100px;
    height: 12px;
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.scroll_pic>ul>li {
    float: left;
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,.4);
    border-radius: 50%;
    border: 2px solid hsla(0,0%,100%,.3);
    margin-left: 4px;
    cursor: pointer;
}

.scroll_pic>ul>li:hover {
    background-color: hsla(0,0%,100%,.4);
}

.pot_active {
    background-color: hsla(0,0%,100%,.4) !important;
}

